body
{
    background-color: #4682B4;
    font: normal 15pt Arial;
}

.header
{
    text-align: center;
    color: #fff;
}

.section
{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    margin: 0 auto;
    padding: 15px;
    width: 420px;
}

.txt
{
    
    margin-top: 30px;
    text-align: left;
}

.res
{
    font-style: italic;
}
.res img
{
    border-radius: 50%;
    height: 250px;
    margin-top: 15px;
    width: auto;
}

.footer
{
    color: #fff;
    text-align: center;
}

#select-tab
{
    width: 120px;
    padding: 5px;
    color: #a31ae7;
}